@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-heading: 'Bebas Neue', sans-serif;
    --font-body: 'Inter', sans-serif;

    --color-background: #fdfdfd;
    /* Very subtle off-white */
    --color-surface: #ffffff;
    --color-text-primary: #0a0a0a;
    --color-text-secondary: #525252;
    --color-border: #e5e5e5;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: var(--font-body);
        background-color: var(--color-background);
        color: var(--color-text-primary);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-heading);
    }
}