---
import Layout from "../components/layout/Layout.astro";
import NavBar from "../components/layout/NavBar";
import Hero from "../components/hero/Hero";
import About from "../components/sections/About";
import Projects from "../components/sections/Projects";
import Clients from "../components/sections/Clients";
import Contact from "../components/sections/Contact";
---

<Layout title="Hidayat Abisena | Product Engineer">
	<NavBar client:load />
	<main>
		<Hero client:load />
		<About client:visible />
		<Projects client:visible />
		<Clients client:visible />
		<Contact client:visible />
	</main>
</Layout>
